<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <div id="app">
            <button onclick="vm.openfrom()">Open From</button>
            <h1> Nilai a : {{hasil}}</h1>
            <h1> {{'Rata - Rata : ' + hasil}}</h1>
        </div>
        
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script>
        var vm = new Vue({
            el: '#from',
            data: {
                a : 0,
                b : 0,
                hasil : 0
            },
            methods: {
                openfrom : function() {
                    this.a = prompt("Masukkan nilai a:");
                    this.b = prompt("Masukkan nilai a:");
                },
                tambah(){
                    this.hasil = parseInt(this.a) + parseInt(this.b);
                },
            },
        })
        </script>
    </body>
</html>