<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
</head>
<body>
    <div id="app">
        <input type="text" v-model="book" placeholder="input nama">
        <input type="button" v-on:click="add()" value="Tambah" />
    <ul>
        <li v-for="book in usert">{{ book.name }}
        <button href='#' v-on:click="edit(name)">Edit</button>
        <button href='#' v-on:click="delete()">Delete</button>
        </li>
    </ul>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                book : '',

                usert: [
                        {'name' : 'Muhammad Iqbal Mubarok', },
                        {'name' : 'Ruby Purwanti', },
                        {'name' : 'Faqih Muhammad', },
                ],
            },
            methods: {
                add(){
                    var databaru = {'name': this.book}
                    this.usert.push(databaru)
                    console.log(this.book)
                },
                edit(name) {
                    console.log(name)
                    var editdata = prompt(this.book(name));
                    this.book.push(editdata)

                    console.log(this.book)
                }
                delete(){

                }

            }
            
        })
    </script>
</body>
</html>