<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
</head>
<body>
    <div id="app">
        <form @submit.prevent="submitFrom()">
            <p v-if="errors.length">
                <b>Please correct the following errors :</b>
                <ul>
                    <li v-for="error in errors">{{ error }}</li>
                </ul>
            </p>
            <label>Name : </label>
            <input type="text" name="name" ref="name" v-model="name">
            <label>Address : </label>
            <textarea type="text" name="address" ref="address" v-model="address"></textarea>
            <label>No. Hp : </label>
            <input type="text" name="no_hp" ref="no_hp" v-model="no_hp">
            <input type="submit" value="SUBMIT">
        </form>

        <br></br>

        <blogs-component :semua_blog="blogs" :domain="domain" @edit="editBlog" @remove="removeBlog" @upload="uploadPhoto"></blogs-component>
        

    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>

        const BlogsComponent = {
            tamplate :
            `
                <table border=1>
                    <tr v-for="blog of semua_blog">
                        <td>
                            <img width=100 :src="blog.photo ? photoDomain + blog.photo : 'https://dummyimage.com/16:9x1080'" alt="">
                        </td>
                        <td>
                            <b>Name : </b> {{ blog.name }} <br>
                            <b>Address : </b> {{ blog.address }} <br>
                            <b>No. Hp : </b> {{ blog.no_hp }} <br>
                        </td>
                        <td>
                            <button @click="$emit('edit', blog)">Edit</button>
                            <button @click="$emit('remove', blog.id)">Hapus</button>
                            <button @click="$emit('upload', blog)">Upload Foto</button>
                        </td>
                    </tr>
                </table>
            `
            ,
            props : ['semua_blog', 'domain']
        }


        var vm = new Vue({
            el: '#app',
            components :{
                `blogs-component` : BlogsComponent
            }
            data: {
                name : '',
                address : '',
                no_hp : '',
                errors : [],
                blogs : [],
                photoDomain : 'http://demo-api-vue.sanbercloud.com'
            },
            methods: {
                validationForm : function(){
                    this.errors = []

                    if (this.name.length > 20){
                        this.errors.push('Nama tidak boleh lebih dari 20 karakter')
                        this.$refs.name.focus()
                    }

                    if (this.address.length > 50){
                        this.errors.push('Alamat tidak boleh lebih dari 50 karakter')
                        this.$refs.address.focus()
                    }

                    if (this.no_hp.length < 12){
                        this.errors.push('No. HP minimal 12 karakter')
                        this.$refs.no_hp.focus()
                    }
                },

                clearForm : function(){
                    this.name = '',
                    this.address = '',
                    this.no_hp = ''
                },

                submitFrom : function(){

                    this.validationForm()

                        if (this.errors.length === 0){

                            let formData = new FormData()
                            formData.append('name', this.name)
                            formData.append('address', this.address)
                            formData.append('no_hp', this.no_hp)


                            
                            const config = {
                                method : "post",
                                url : "http://demo-api-vue.sanbercloud.com/api/member"
                                data : formData
                            }
                            
                            axios(config)
                                .then( (response) => {
                                    this.clearForm()
                                    this.getBlogs()
                                    alert(response.data.message)

                                })
                                .catch( (error) => {
                                    
                                }) 

                            
                        }
                
                },

                getBlogs : function(){
                    
                    const config = {
                        method : "get",
                        url : "http://demo-api-vue.sanbercloud.com/api/member"
                    }
                    
                    axios(config)
                        .then( (response) => {
                            this.blogs = response.data.blogs
                        })
                        .catch( (error) => {
                            console.log(error);
                        })  

                },

                removeBlog : function(id){
                    console.log(id)
                }

            },
            created(){
                    this.getBlogs()
                }
            
        })
    </script>
</body>
</html>
